Assets/Firebase/Plugins/**/FirebaseCpp*.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/**/FirebaseCpp*.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/**/FirebaseCpp*.dll filter=lfs diff=lfs merge=lfs -text
